/*our CSS*/

/* Navigation Bar*/ 
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 25px;
  overflow: hidden;
  background-color: #8FBC8F;
}

li {
  float: right;
  text-align: right;
}

li a {
  display: block;
  color: #0ba813;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-family: 'Comic Sans MS', cursive, sans-serif ;
  font-size: 19px;
  text-decoration: none;
}

/* Change the link colour on hover */
li a:hover {
  background-color: #9b1616;
  background-color: #fff8dc;
}

@media screen and (max-width: 1340px) {
  .navbar li {
    text-align: center;
    float: none;
  }
}

body {
  background: #fff8dc;
  font-family: Verdana;
  width: 100%;
}

footer {
  background: rgb(43, 133, 98);
  font-family: Verdana;
  color: #ffffff;
  text-align: center;
}

.Footer_Text {
  background: rgb(43, 133, 98);
  font-family: Verdana;
  font-size: 15px;
  color: #ffffff;
  text-align: center;
}


#Contact_Us_Information {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.logo{ 
  position:absolute;
  top: 13px;
  left: 35px; 
  } 

.website_title {
    position: relative;
    text-align: center;
    color: white;
    max-width: 100%
  }
    
.Centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
  }

.responsive {
    width: 100%;
    height: auto;
  }

.Quote {
    font-size: 25px;
    font-style: italic;
    color: #2E8B57;
    padding: 25px;
  }

.Statement {
    font-size: 25px;
    color: darkgreen;
    padding-top: 25x;
    padding-bottom: 100px;
    padding-left: 60px;
  }
  
#MeetTeam {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*max-width: 100%;*/
  min-width: 50%;
  border:solid;
  border-color: black;
}

.Teamhead{
  font-size: 25px;
  color: black;
  padding: 12px;
  text-align: center;
  padding-top: 150px;
  font-weight: bold;
}

.description{
  font-size: 20px;
  color: rgb(3, 131, 3);
  padding-right: 10px;
  text-align: center;
}

.row {
  display:flex;
}
.column {
  flex: 50%;
  padding: 100px;
  padding-bottom: 25px;
}

@media screen and (max-width: 600px) {
  .row {
    display:flex;
  }
  .column {
    flex: 50%;
    padding: 100px;
    padding-bottom: 25px;
  }
}

h2{
  font-size: 25px;
  color: black;
  padding: 12px;
  text-align: center;
}
#homepageimage{
  display: block;
  object-position: center;
}
p{
  font-size: 20px;
  color: rgb(3, 131, 3);
  padding-right: 10px;
}

.Images_Gen {
  border: 5px solid rgb(3, 131, 3);
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  height: auto;
  display: none;
  
}

button {
  background-color: rgb(3, 131, 3);
  border-color:lightslategray;
  font-size: 15px;
  color: #ffffff;
  border-radius: 8px;
}

.Button_Text {
  text-align: center;
  padding-bottom: 20px;
}

.columnPlans {
  flex: 50%;
  padding: 3%;
  padding-bottom: 0px;
  padding-top: 50px;

}
.mapbasicplan {
  padding: 20px;
  border-style: solid;
  border-color: black;
  background-color: ivory;
  text-align: center;
  box-shadow: 5px 6px #888888;
}

.dataplan
{
  padding: 20px;
  border-style: solid;
  border-color: black;
  background-color: ivory;
  text-align: center;
  box-shadow: 5px 6px #888888;
}

.mapplan
{
  padding: 20px;
  border-style: solid;
  border-color: black;
  background-color: ivory;
  text-align: center;
  box-shadow: 5px 6px #888888;
}

.remoteplan
{
  padding: 20px;
  border-style: solid;
  border-color: black;
  background-color: ivory;
  text-align: center;
  box-shadow: 5px 6px #888888;
  padding-bottom:7.5%;
}

.planstext{
color: black;
font-size: 18px;

}

.plansheading {
color: rgb(3, 131, 3);
font-size: 24px;
font-family: Verdana;
}


.buttonformplan {
  background-color: rgb(3, 131, 3);
  border-color:black;
  font-size: 15px;
  color: white;
  border-radius: 8px;
}

.buttonplans {
  text-align: center;
  padding-bottom: 20px;
}

.ourteam{
  font-size: 25px;
  color:rgb(3, 131, 3);
  text-align: center;


}
.whatwedo{
  font-size: 22px;
  color: #2E8B57;
  padding-bottom: 100px;
  text-align: center;

}

  /* unvisited link design help from w3schools */
  a:link.links {
    color: green;

  }
  
  /* visited link */
  a:visited.links {
    color: sienna;
  }
  
  /* hovering over the link with mouse*/
  a:hover.links {
    color: lightgreen;
  }
  
  /* the link that you selected*/
  a:active.links {
    color: darkgreen;
  }

.FAQtext {
  color: rgb(3, 131, 3);
  font-size: 20px;
}

.answers {
  text-indent: 150px;
  font-size: 18px;
}

.contactinfo {   
  text-indent: 90px;
  color: black;
  font-size: 35px;
  padding-top: 10px;
  padding-bottom: 10;
}

.email {
    text-indent: 150px;
    font-size: 25px;
    color: green;
}
/* linked in links formatted*/
.linkedin {
  text-indent: 150px;
  font-size: 20px;
  padding-bottom: 10px;
}
/* starter paragraph on contact us page */
.starter {
  text-align: center;
  font-size: 35px;
  padding: 15px;

}
/* format for button on the FAQ page, includes the whole question */
.buttonFAQ {
  width:100%;
  border-radius:0px;
  border:none;
  background-color:ivory;
  color:black;
  text-align: left;
  font-size: 23px;
  font-weight: bold;
}
.Questions {
  background-color:ivory;
  border:black;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
}
/* makes default display no the answers be none so it will only appear on click */
.nodisplay {
  display:none
  
}
/*testimonial page adding boxes*/
.testimonials {
  padding: 20px;
  border-style: solid;
  border-color: black;
  background-color: ivory;
  text-align: center;
  box-shadow: 5px 6px #888888;
}

.testtext {
  color: darkgreen;
  font-size: 18px;
}

.personsname {
  font-style: italic;
}


.gallery {
  border: 1px solid rgb(0, 0, 0);
}

.gallery:hover {
  border: 1px solid rgb(3, 121, 3);
}

.gallery img {
  width: 100%;
  height: auto;
}

.gallerytext {
  padding: 15px;
  text-align: center;
  color: darkgreen;
}

/* * {
  box-sizing: border-box;
} */

.media {
  margin: 70px;
  padding: 0 6px;
  width: 25%;
  float:left;
  box-sizing: border-box;
}

@media only screen and (max-width: 700px) {
  .media {
    width: 50%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .media {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
