/*our CSS*/

/* Navigation Bar*/ 
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 25px;
  overflow: hidden;
  background-color: #8FBC8F;
}


li {
  float: right;
  text-align: right;
}


li a {
  display: block;
  color: #0ba813;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-family: 'Comic Sans MS', cursive, sans-serif ;
  font-size: 19px;
  text-decoration: none;
}


/* Change the link colour on hover */
li a:hover {
  background-color: #9b1616;
  background-color: #fff8dc;
}

body {
  background: #fff8dc;
  font-family: Verdana;
}

footer {
  background: rgb(43, 133, 98);
  font-family: Verdana;
  color: #ffffff;
  text-align: center;
}

/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


#Contact_Us_Information {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.logo{ 
  position:absolute;
  top: 13px;
  left: 35px; 
  } 

  .website_title {
    position: relative;
    text-align: center;
    color: white;
  }
    
  .Centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
  }

  .responsive {
    width: 100%;
    height: auto;
  }

  .Quote {
    font-size: 25px;
    font-style: italic;
    color: #2E8B57;
    padding: 25px;
  }

  .Statement {
    font-size: 25px;
    color: darkgreen;
    padding-top: 25x;
    padding-bottom: 100px;
    padding-left: 60px;

  }
#MeetTeam {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}


.Teamhead{
  font-size: 25px;
  color: darkgreen;
  padding: 12px;
  text-align: center;
  padding-top: 150px;

}

.description{
  font-size: 20px;
  color: rgb(3, 131, 3);
  padding: 10px;
}

.row {
  display:flex;

}
.column {
  flex: 50%;
  padding: 100px;
  padding-bottom: 25px;
}